body, * {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 80%;
}

header {
  width: 100%;
  text-align: right;
  padding: 0 0.5em 0.7em;
  border-bottom: solid 1px #E5E5E5;
  margin-bottom: 1em;

  #login-buttons {
    text-align: left;
    font-family: 'Open Sans', sans-serif;

    .login-link-text,
    .login-close-text {
      color: #459be7;
    }

    .accounts-dialog input {
      border-radius: 0;
      border: solid 1px #D4D4D1;
      transition: .7s;
      font-size: 1.1em;
      padding: 0.3em;
      margin: 0.2em 0;

      &:focus {
        -webkit-box-shadow: 0 0 5px 0 rgba(69, 155, 231, .75);
        -moz-box-shadow: 0 0 5px 0 rgba(69, 155, 231, .75);
        box-shadow: 0 0 5px 0 rgba(69, 155, 231, .75);
        border-color: #459be7;
        outline: none;
      }
    }

    .login-button {
      background: #459be7;
      color: #FFF;
      font-weight: 600;
      border: none;
      border-radius: 0;
      text-shadow: 0 0 5px rgba(0, 0, 0, .3);
      cursor: pointer;
      transition: .7s;

      &:focus {
        outline: none;
      }

      &:hover {
        background: #1c82dd;
      }
    }

    .additional-link-container {
      color: #459be7;
    }
  }
}
